body {
    background-color: lightcyan;
    color: darkslategrey;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1000px;
    margin: 50px auto;
}
ul li {
    font-style: italic;
}
img {
    border-radius: 10px;
    width: 60%;
    display: block;
    margin: 0 auto;
    border: 5px solid lightblue;
}
.recipe-list {
    font-size: 20px;
}